* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.home .heroSection {
  display: flex;
  width: 100%;
  height: 60%;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .navSection {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .nav {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.home .navLeft {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  letter-spacing: 2px;
}
.home a {
  padding: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
}
.home .navRight {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home .imageSection {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40%;
}
.home .imageHolder {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
}
.home .imageOne {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/imageOne.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .imageTwo {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/imageTwo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .imageThree {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/imageThree.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  width: 100%;
  height: 100%;
  display: flex;
}

.footerSection {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #79ADDC;
}

.footer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  color: white;
}
