.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .heroSection{
        display: flex;
        width: 100%;
        height: 60%;
        background-image: url(../images/hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .navSection{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .navLeft{
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        color: white;
        letter-spacing: 2px;
    }
    a{
        padding: 15px;
        letter-spacing: 2px;
        text-decoration: none;
        color: white;
    }
    .navRight{
        width: 85%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .imageSection{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40%;
    }

    .imageHolder{
        display: flex;
        flex-direction: row;
        width: 70%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: -50px
    }

    .imageOne{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-image: url(../images/imageOne.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .imageTwo{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-image: url(../images/imageTwo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .imageThree{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-image: url(../images/imageThree.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}