.home{
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 866px;


    .heroSection{
        display: flex;
        flex-direction: column;
        width: 1280px;
        height: 500px;
        background-image: url(../images/hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .heroTextHolder{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1280px;
            height: 500px;
            .heroText{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 414px;
                height: 406px;
                padding: 30px;
                color: #fff;
                .heroOne{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 60px;
                    font-family: light;
                }
            
                .heroTwo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    font-family: light;
                }
                button{
                    display: flex;
                    background-color: #79ADDC;
                    border-radius: 20px;
                    border: none;
                    padding: 11px 21px;
                    color: #fff;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    font-family: light;
                }
            }
        }
    }  
            .imageSection{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1280px;
                height: 360px;
                background-color: white;
                .imageHolder{
                    display: flex;
                    flex-direction: row;
                    width: 813px;
                    height: 304px;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: -104px
                }
            
                .image{
                    width: 251px;
                    height: 304px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
            
                img{
                    width: 251px;
                    height: 304px;
                }
            
                .text{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: white;
                }
            
                .imageOne{
                    font-size: 60px;
                    font-family: light;
                }
                .imageTwo{
                    font-size: 30px;
                    font-family: light;
                }
                button{
                    background-color: #79ADDC;
                    padding-top: 20px;
                    border-radius: 20px;
                    border: none;
                    padding: 11px 21px;
                    color: #fff;
                }
            }
        }
    
       
   
   
    


        

