.home {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  max-width: 1280px;
=======
  width: 1280px;
  height: 866px;
<<<<<<< Updated upstream
=======
>>>>>>> 96856f2ef83560719d1ff7fe22f1fe00a2ccead6
>>>>>>> Stashed changes
}
.home .heroSection {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  min-height: 500px;
  align-self: center;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.home .heroSection nav {
  width: 980px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .heroSection nav .navLeft {
  width: 92px;
  height: 42px;
}
.home .heroSection nav .navLeft img {
  width: 92px;
  height: 42px;
}
.home .heroSection nav .navRight {
  width: 888px;
  height: 42px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home .heroSection nav .navRight a {
  padding: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
}
.home .heroSection .heroTextHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1280px;
  min-height: 500px;
}
.home .heroSection .heroTextHolder .heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 414px;
  height: 406px;
  padding: 30px;
  color: #fff;
}
.home .heroSection .heroTextHolder .heroText .heroOne {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: light;
}
.home .heroSection .heroTextHolder .heroText .heroTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: light;
}
.home .heroSection .heroTextHolder .heroText button {
  display: flex;
  background-color: #79ADDC;
  border-radius: 20px;
  border: none;
  padding: 11px 21px;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: light;
}
.home .imageSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  max-height: 912px;
  background-color: white;
}
.home .imageSection .imageHolder {
  display: flex;
  flex-direction: row;
  min-width: 813px;
  min-height: 304px;
  justify-content: space-between;
  align-items: center;
  margin-top: -104px;
}
.home .imageSection .imageHolder .image {
  width: 251px;
  height: 304px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home .imageSection .imageHolder .image .text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.home .imageSection .imageHolder .image .text .imageOne {
  width: 100px;
  font-size: 45px;
  font-family: light;
  display: flex;
  justify-content: center;
}
.home .imageSection .imageHolder .image .text .imageTwo {
  font-size: 30px;
  font-family: light;
}
.home .imageSection .imageHolder .image .text button {
  background-color: #79ADDC;
  padding-top: 20px;
  border-radius: 20px;
  border: none;
  padding: 11px 21px;
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  .home {
    min-width: 100px;
    min-height: 100px;
  }
  .home .heroSection nav {
    max-height: 10vh;
    max-width: 10vh;
  }
}
@media only screen and (max-width: 1000px) {
  .home .imageSection .imageHolder {
    flex-direction: column;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
